body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

.box {
  background: white;
  width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}

textarea {
  height: 80px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #3498db;
  color: white;
  border: none;
}
